<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="clearfix">

        <div class="right absolute-lg right-0 top-0">
          <ul class="mt-2 mr-2 mr-lg-3">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h4 font-smoothing" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mt-4 mb-2 clearfix header-text">
          <h1 class="h0 inline-block py-2 mt-4 header-title">{{ site.title }}</h1>

            <p class="h4 lh-condensed font-smoothing">{{ site.description }}</p>
            <div class="col-1 sm-width-full border-top-thick">
            </div>
          </div>

        </div>
      </header>

      <div class="container mx-auto px-2 py-2">
        {% for post in paginator.posts %}

          {% include post_block.html %} <div class="button"><a class="button" href="{{ post.url | relative_url }}">View post</a>
          </div>

          <div class="prose py-4" itemprop="articleBody">
            <a href="{{ post.url | relative_url }}">

              {% assign foundImage = 0 %}
              {% assign images = post.content | split:"<img " %}
              {% for image in images %}
              {% if image contains 'src' %}

              {% if foundImage == 0 %}
              {% assign html = image | split:"/>" | first %}
              {% assign tags = html | split:" " %}
              {% for tag in tags %}
              {% if tag contains 'src' %}
              <img {{ tag }} />
              {% endif %}
              {% endfor %}
              {% assign foundImage = 1 %}
              {% endif %}
              {% endif %}
              {% endfor %}

              </a>
            </div>

            {% if post.vimeo-id %}
              <div class="responsive-video-container">
                <iframe src="//player.vimeo.com/video/{{ post.vimeo-id }}?byline=0&amp;portrait=0" width="800" height="449" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            {% elsif post.youtube-id %}
              <div class="responsive-video-container">
                <iframe width="800" height="449" src="//www.youtube.com/embed/{{ post.youtube-id }}" frameborder="0" allowfullscreen></iframe>
              </div>
            {% endif %}

        {% endfor %}

        {% include site-search.html %}

      </div>

     </div>

     <!-- Pagination links -->
<div class="container mx-auto px-2 py-2" itemprop="SiteNavigationElement/Pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Recent posts</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
  {% else %}
    <span class="next ">Older posts</span>
  {% endif %}
</div>

    {% include footer.html %}

  </body>

</html>
